NET "clk" LOC = "N7" | IOSTANDARD = LVCMOS33;

NET "btn_0" LOC = "P8" | IOSTANDARD = LVCMOS33;
NET "btn_1" LOC = "P9" | IOSTANDARD = LVCMOS33;

NET "led_0" LOC = "N3" | IOSTANDARD = LVCMOS33;
NET "led_1" LOC = "P3" | IOSTANDARD = LVCMOS33;
NET "led_2" LOC = "N4" | IOSTANDARD = LVCMOS33;
NET "led_3" LOC = "P4" | IOSTANDARD = LVCMOS33;
